:host ::ng-deep {
  display: block;

  .input-field-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;

    &--vertical {
      display: block;
    }
  }
  .inline-field-label {
    flex-shrink: 0;
    display: inline-block;
    margin-bottom: 0.5rem;

    &--vertical {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  .field-error {
    color: red;
    font-size: small;
    margin-top: 5px;
  }

  .field-input {
    &.p-password {
      display: block;
      width: inherit;
    }
    .p-inputtext {
      width: inherit;
    }
  }
}
