<div
  [ngClass]="vertical ? 'input-field-wrapper--vertical' : 'input-field-wrapper'"
>
  <label
    for="password"
    [style.width]="labelWidth"
    [ngClass]="vertical ? 'inline-field-label--vertical' : 'inline-field-label'"
    >{{ label }}</label
  >
  <p-password
    id="password"
    styleClass="field-input"
    [formControl]="ngControl.control"
    [style.width]="inputWidth"
    [feedback]="feedback"
    (blur)="onBlur.emit($event)"
    (focus)="onFocus.emit($event)"
  />
</div>
@if (ngControl.touched) {
  @for (error of ngControl.errors | keyvalue; track ngControl.errors) {
    <div [style.margin-left]="vertical ? '0' : labelWidth" class="field-error">
      {{ error | mapErrorToText }}
    </div>
  }
}
