:host {
  display: block;

  .input-field-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
    &--vertical {
      display: block;
    }
  }
  .inline-field-label {
    flex-shrink: 0;
    display: inline-block;
  }

  .field-error {
    color: red;
    font-size: small;
    margin-top: 5px;
  }

  .field-input {
    &.p-inputtext {
      width: inherit;
    }
  }
}
