<p-toast />
<p-confirmDialog />
@if (session$ | async) {
  <app-private-header />
} @else {
  <app-public-header />
}

<main class="flex-grow-1 flex flex-column max-w-1000 mx-auto">
  <div class="container py-5 px-5">
    <router-outlet></router-outlet>
  </div>
</main>

<app-page-spinner [isLoading]="pageLoading$ | async"> </app-page-spinner>
<!-- <app-header>
  <ng-container links>
    <a href="#" class="p-mr-2">Link 1</a>
    <a href="#" class="p-mr-2">Link 2</a>
  </ng-container>
  <ng-container right>
    <button class="p-button p-button-primary">Sign In</button>
  </ng-container>
</app-header>
<app-page-spinner [isLoading]="pageLoading"> </app-page-spinner>
<app-icon [icon]="Icons.COG" fontSize="2rem" color="blue"></app-icon>
<app-spinner fontSize="2rem"></app-spinner>
<form class="auth-form" [formGroup]="loginFormGroup">
  <app-text-field
    formControlName="login"
    label="Login"
    [vertical]="true"
  ></app-text-field>
  <app-password
    formControlName="password"
    label="Password"
    [vertical]="true"
  ></app-password>
  <app-dropdown
    formControlName="selectedCity"
    placeholder="Select a city"
    optionLabel="name"
    label="City"
    [vertical]="true"
    [options]="cities"
    [clearable]="true"
  ></app-dropdown>
  <app-button
    label="Hello"
    [icon]="Icons.CHECK"
    (onClick)="buttonPressed()"
  ></app-button>
  <app-multiselect
    formControlName="selectedCities"
    placeholder="Select cities"
    optionLabel="name"
    label="Cities"
    [vertical]="true"
    [options]="cities"
    [clearable]="true"
  ></app-multiselect>
</form>
<app-image-select
  [label]="'Select an Image'"
  [images]="images"
  [getSrc]="avatarUrl"
  (onChange)="handleImageChange($event)"
  [error]="'Please select an image'"
>
</app-image-select>
<button pButton type="button" label="Show Modal" (click)="showModal()"></button>

<app-modal [display]="isModalVisible" (onClose)="isModalVisible = false">
  <ng-template #header>
    <h3>Modal Header</h3>
  </ng-template>

  <ng-template #body>
    <p>This is the modal body content.</p>
  </ng-template>

  <ng-template #footer>
    <div class="flex justify-content-end flex-wrap">
      <button
        pButton
        type="button"
        (click)="closeModal()"
        label="Close"
        class="p-button-text"
      ></button>
    </div>
  </ng-template>
</app-modal> -->
