<app-page-spinner [isLoading]="pageLoading"></app-page-spinner>
<app-logo className="custom-class"></app-logo>
<app-icon [icon]="Icons.COG" fontSize="2rem" color="blue"></app-icon>
<app-spinner fontSize="2rem"></app-spinner>
<form class="auth-form" [formGroup]="loginFormGroup">
  <app-text-field formControlName="login" label="Login"></app-text-field>
  <app-dropdown
    formControlName="selectedCity"
    placeholder="Select a city"
    optionLabel="name"
    [options]="cities"
    [clearable]="true"
  ></app-dropdown>
  <app-button
    [icon]="Icons.CHECK"
    label="Hello"
    (onClick)="buttonPressed()"
  ></app-button>
</form>
