<div
  [ngClass]="vertical ? 'input-field-wrapper--vertical' : 'input-field-wrapper'"
>
  @if (label) {
    <label
      for="login"
      [style.width]="labelWidth"
      [ngClass]="
        vertical ? 'inline-field-label--vertical' : 'inline-field-label'
      "
      >{{ label }}</label
    >
  }
  <p-dropdown
    styleClass="field-input"
    [options]="options"
    [checkmark]="true"
    [optionLabel]="optionLabel"
    [showClear]="clearable"
    [formControl]="ngControl.control"
    [placeholder]="placeholder"
    (onChange)="onSelect.emit($event.value)"
    (onClear)="onClear.emit()"
  />
</div>
